<!DOCTYPE html>

<html>

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/gtvg.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" data-th-href="@{/css/home.css}">
</head>

<body>
	<!-- 头部 -->
<div class="header">
	<h1>Z</h1>
	<h2>个人博客</h2>
</div>
<div class="subject">
	<div class="subject-conents">
		<article>
			<h3>0</h3>
			<a href="">
				
			</a>
			<div class="sc_foot"></div>
		</article>
		<article>
			<h3>1</h3>
			<a href="">
				
			</a>
			<div class="sc_foot"></div>
		</article>
		<article>
			<h3>2</h3>
			<a href="">
				
			</a>
			<div class="sc_foot"></div>
		</article>
		<article>
			<h3>3</h3>
			<a href="">
				
			</a>
			<div class="sc_foot"></div>
		</article>
		<article>
			<h3>4</h3>
			<a href="">
				
			</a>
			<div class="sc_foot"></div>
		</article>
		<article>
			<h3>5</h3>
			<a href="">
				
			</a>
			<div class="sc_foot"></div>
		</article>
		<article>
			<h3>6</h3>
			<a href="">
				
			</a>
			<div class="sc_foot"></div>
		</article>
		<article>
			<h3>7</h3>
			<a href="">
				
			</a>
			<div class="sc_foot"></div>
		</article>
		<article>
			<h3>8</h3>
			<a href="">
				
			</a>
			<div class="sc_foot"></div>
		</article>
		<article>
			<h3>9</h3>
			<a href="">
				
			</a>
			<div class="sc_foot"></div>
		</article>
	</div>
</div>
<div class="fonter">
	
</div>
<!-- <p data-th-utext="#{home.welcome}">Welcome to our grocery store!</p>
<p>Today is: <span data-th-text="${today}">13 February 2011</span></p>
<a href="index.html" data-th-href="@{/HelloHtml}">跳转</a> -->

</body>

</html>