<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROOM</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <h1>{{roomId}}</h1>
        <div>
            chatRoom
        </div>
    </div>
    <script type="text/javascript">
        var vm = Vue.createApp({
          data(){
              return{
                roomId:"080888312"
              }
          }
        }).mount('#app');
    </script>
</body>
</html>